*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 480px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
    position: relative;
    .card{
        width: 480px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
        position: relative;
        margin-top: 10px;
        &:active{
            label{
                color: rgb(18, 102, 211);
            }
        }
    input{
        position: relative;
        left: 10px;
        width: 430px;
        height:10px;
        appearance: none;
        background-color: #bebebe;
        border-radius: 10px;
        &::-webkit-slider-thumb{
            appearance: none;
            width: 15px;
            height: 15px;
            background-color: rgb(22, 22, 22);
            border-radius: 50%;
            transition: 0.3s ease;
            &:hover{
                background-color: rgb(18, 102, 211);
                transform: scale(1.4);

            }
        }

    }
    label{
        position: absolute;
        width:25px;
        height:25px;
        right: 0px;
        text-align: center;
        margin: 10px;
        font-size: 20px;
        font-weight: 500;
        
        
    }
    }
    button{
        padding: 5px 10px;
        background-color: white;
        font-size: 20px;
        border-color: transparent;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        bottom: 10px;
        transition: 0.3s ease;
        &:hover{
            background-color: rgb(31, 88, 212);
            color: #ffffff;
            cursor: pointer;
        }
    }
}
